*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:  hsl(0, 0%, 95%);
    Font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}
main{
    height: 100vh;
    margin: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card_sedans{
    height: 500px;
    width: 1000px;
    background-color:  hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;

}
.logo_sedans, .logo_suvs, .logo_luxury {
    margin: 25px;
    padding: 5px;
    max-width: 100%;
}        
.para_sedans, .para_suvs, .para_luxury{
    margin: 25px;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.75);
}
.title_sedans, .title_suvs, .title_luxury{
    margin: 30px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}
.card_suvs{
    height: 500px;
    width:1000px;
    background-color:  hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;

}

.card_luxury{
    height: 500px;
    width:1000px;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;

}

.btn_sedans, .btn_suvs, .btn_luxury{
    margin-top: auto;
    margin-bottom: 5em;
    margin-left: 1.5em;
}
button{
    padding: 1em;
    border-radius: 3em;
    width: 10em;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;

}
.btn_sedans > button {
    color: hsl(31, 77%, 52%);
}
.btn_suvs > button{
    color: hsl(184, 100%, 22%);
}
.btn_luxury > button{
    color: hsl(179, 100%, 13%);
}
.btn_sedans > button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}
.btn_suvs > button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}
.btn_luxury > button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}
